* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .3s ease-in-out;
}

h1, h2, h3, .menu {
  font-family: Space Grotesk, sans-serif;
  font-weight: 700;
  line-height: 100%;
}

h3 {
  line-height: 140%;
}

li {
  list-style: none;
}

.about-us__title, .page__section-title {
  font-size: 32px;
  line-height: 100%;
}

@media (width >= 600px) {
  .about-us__title, .page__section-title {
    font-size: 40px;
  }
}

@media (width >= 1020px) {
  .about-us__title, .page__section-title {
    font-size: 48px;
  }
}

.page {
  color: #292929;
  scroll-behavior: smooth;
  font-family: Space Mono, monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  overflow-x: hidden;
}

.page__body {
  min-width: 320px;
}

.page__section {
  opacity: 0;
  transition: all 3s;
}

.page__section--right {
  transform: translateX(100%);
}

.page__section--left {
  transform: translateX(-100%);
}

.page__section-title {
  text-align: start;
  margin-bottom: 48px;
}

@media (width >= 600px) {
  .page__section-title {
    margin-bottom: 64px;
  }
}

.page__menu {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0%);
}

:has(.page__menu:target) {
  width: 100vw;
  position: fixed;
  overflow: hidden;
}

.main {
  row-gap: 96px;
  padding-block: 64px;
  display: grid;
}

@media (width >= 600px) {
  .main {
    row-gap: 120px;
    padding-block: 120px;
  }
}

.container {
  padding-inline: 20px;
}

@media (width >= 600px) {
  .container {
    padding-inline: 72px;
  }
}

@media (width >= 1020px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.header {
  background-image: url("header.0a7cfb45.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__content {
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding-bottom: 40px;
  display: flex;
}

@media (width >= 600px) {
  .header__content {
    padding-bottom: 65px;
  }
}

@media (width >= 1020px) {
  .header__content {
    padding-bottom: 92px;
  }
}

.header__top {
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;
  display: flex;
}

@media (width >= 600px) {
  .header__top {
    padding-block: 32px;
  }
}

.header__actions {
  align-items: center;
  gap: 24px;
  display: flex;
}

@media (width >= 600px) {
  .header__actions {
    gap: 32px;
  }
}

@media (width >= 1020px) {
  .header__call:before {
    content: "+1 234 555-55-55";
    color: #292929;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0;
    pointer-events: none;
    width: max-content;
    padding-right: 12px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    transition: opacity .3s linear;
    display: block;
    position: relative;
    top: 50%;
    transform: translate(-100%, -50%);
  }

  .header__call:hover:before {
    opacity: 1;
    pointer-events: all;
  }
}

.header__title {
  font-size: 36px;
  transition: all 3s;
  transform: translateX(200%);
}

@media (width >= 600px) {
  .header__title {
    font-size: 48px;
  }
}

@media (width >= 1020px) {
  .header__title {
    font-size: 56px;
  }
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  text-decoration: none;
  display: block;
}

@media (width >= 600px) {
  .icon {
    width: 32px;
    height: 32px;
  }
}

.icon--menu {
  background-image: url("menu.5116ced5.svg");
}

.icon--menu:hover {
  background-image: url("menu-hover.b3e2f266.svg");
}

.icon--phone {
  background-image: url("phone.181bcdd6.svg");
}

.icon--cross {
  background-image: url("cross.64d8e85c.svg");
}

.menu {
  background-color: #e5e6e8;
  overflow: auto;
}

.menu__content {
  box-sizing: border-box;
  height: 100vh;
  position: relative;
}

.menu__top {
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  padding-block: 24px;
  display: flex;
  position: sticky;
  top: 0;
}

@media (width >= 600px) {
  .menu__top {
    margin-bottom: 56px;
    padding-block: 32px;
  }
}

.menu__list {
  flex-direction: column;
  gap: 32px;
  margin-bottom: 48px;
  display: flex;
}

.menu__link {
  letter-spacing: 2px;
  color: #292929;
  border-bottom: 1px solid #0000;
  padding-bottom: 8px;
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.menu__link:hover {
  border-bottom: 1px solid #292929;
}

.menu__call {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #292929;
  width: max-content;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  display: block;
}

.menu__call--phone {
  margin-bottom: 16px;
}

.menu__call--action {
  border-bottom: 1px solid #292929;
  padding-bottom: 8px;
}

.recommended__products {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 40px 20px;
  display: grid;
}

@media (width >= 600px) {
  .recommended__products {
    --columns: 6;
    gap: 56px 24px;
  }
}

@media (width >= 1020px) {
  .recommended__products {
    --columns: 12;
  }
}

.product {
  grid-column: 1 / -1;
  display: block;
}

@media (width >= 1020px) {
  .product {
    grid-column: span 4;
  }
}

.product__img {
  border-radius: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 24px;
  transform: scale(1);
}

.product__img:hover {
  border-radius: 10px;
  transform: scale(1.1);
  box-shadow: 0 -4px 7px #0000004d;
}

@media (width >= 600px) {
  .product__img {
    margin-bottom: 24px;
  }
}

.product__title {
  margin-bottom: 8px;
  font-size: 18px;
}

.product__text {
  margin-bottom: 12px;
}

.categories__wrapper {
  row-gap: 40px;
  display: grid;
}

@media (width >= 600px) {
  .categories__wrapper {
    row-gap: 56px;
  }
}

.category__photos {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 40px 20px;
  margin-bottom: 16px;
  display: grid;
}

@media (width >= 600px) {
  .category__photos {
    --columns: 6;
    gap: 56px 24px;
  }
}

@media (width >= 1020px) {
  .category__photos {
    --columns: 12;
  }
}

.category__link {
  position: relative;
  transform: scale(1);
}

.category__link:hover {
  border-radius: 10px;
  transform: scale(1.05);
  box-shadow: 0 -4px 7px #0000004d;
}

@media (width >= 600px) {
  .category__link--wide {
    grid-column: span 4;
  }
}

@media (width >= 1020px) {
  .category__link--wide {
    grid-column: span 8;
  }
}

.category__link--square {
  height: 0;
  padding-bottom: 100%;
}

@media (width >= 600px) {
  .category__link--square {
    grid-column: span 2;
  }
}

@media (width >= 1020px) {
  .category__link--square {
    grid-column: span 4;
  }
}

.category__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.category__title {
  font-size: 18px;
}

@media (width >= 600px) {
  .category__title {
    font-size: 24px;
  }
}

.category__button {
  max-width: 228px;
}

.button {
  cursor: pointer;
  color: #fff;
  background-color: #292929;
  border: 2px solid #0000;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none;
  display: flex;
}

.button:hover {
  color: #292929;
  background-color: #f8f8fa;
  border-color: #f0f1f4;
}

.button:active {
  color: #fff;
  background-color: #111;
}

.about-us__content {
  row-gap: 24px;
  display: grid;
}

@media (width >= 600px) {
  .about-us__content {
    --columns: 2;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 40px 20px;
    display: grid;
  }
}

@media (width >= 600px) and (width >= 600px) {
  .about-us__content {
    --columns: 6;
    gap: 56px 24px;
  }
}

@media (width >= 600px) and (width >= 1020px) {
  .about-us__content {
    --columns: 12;
  }
}

@media (width >= 600px) {
  .about-us__title {
    grid-column: span 3;
  }
}

@media (width >= 1020px) {
  .about-us__title {
    grid-column: span 6;
  }
}

@media (width >= 600px) {
  .about-us__text {
    grid-column: span 3;
  }
}

@media (width >= 1020px) {
  .about-us__text {
    grid-column: span 6;
  }
}

.contact-us__content {
  row-gap: 48px;
  display: grid;
}

@media (width >= 600px) {
  .contact-us__content {
    row-gap: 80px;
  }
}

@media (width >= 1020px) {
  .contact-us__content {
    --columns: 2;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 40px 20px;
    display: grid;
  }
}

@media (width >= 1020px) and (width >= 600px) {
  .contact-us__content {
    --columns: 6;
    gap: 56px 24px;
  }
}

@media (width >= 1020px) and (width >= 1020px) {
  .contact-us__content {
    --columns: 12;
  }
}

.contact-us__form {
  row-gap: 16px;
  margin-bottom: 32px;
  display: grid;
}

@media (width >= 1020px) {
  .contact-us__form {
    grid-column: 1 / 6;
  }
}

.contact-us__info-content {
  flex-direction: column;
  gap: 24px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
}

@media (width >= 1020px) {
  .contact-us__info-content {
    grid-column: 7 / -1;
  }
}

.contact-us__info-title {
  color: #9393a3;
  margin-bottom: 8px;
  line-height: 140%;
}

.contact-us__info-link {
  color: #191919;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
}

.contact-us__info-link:hover {
  color: #7e7e83;
}

.form-field {
  box-sizing: border-box;
  color: #292929;
  background-color: #f8f8fa;
  border: 1px solid #0000;
  border-radius: 40px;
  width: 100%;
  height: 48px;
  padding: 14px 16px;
  display: block;
}

.form-field::placeholder {
  color: #7e7e83;
  font-size: 14px;
  line-height: 20px;
}

.form-field:hover {
  border-color: #d5d7de;
}

.form-field:hover::placeholder {
  color: #292929;
}

.form-field:focus {
  border-color: #292929;
  outline: none;
}

.form-field--textarea {
  resize: none;
  height: 120px;
  font-family: inherit;
}

.footer__img {
  background-image: url("footer.0a9dda45.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin-bottom: 48px;
}

@media (width >= 600px) {
  .footer__img {
    height: 400px;
    margin-bottom: 56px;
  }
}

@media (width >= 1020px) {
  .footer__img {
    height: 460px;
  }
}

.footer__content {
  flex-direction: column;
  gap: 104px;
  display: flex;
}

@media (width >= 600px) {
  .footer__content {
    gap: 120px;
  }
}

/*# sourceMappingURL=index.971c2ea4.css.map */
